<div class="modal-header">
    <button type="button" class="close" ng-click="p.cancel()">×</button>
    <h4 class="modal-title">批量导入学生</h4>
</div>
<div class="modal-body">
    <div class="console-table-wapper jiansuo-course">
        <select id='callbacks' multiple='multiple'>
            <option ng-repeat="student in p.studentList" ng-value='student.id' ng-bind="p.studentItemView(student)"></option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <input type="button" class="btn btn-default" ng-click="p.cancel()" value="取消"/>
    <button type="button" class="btn btn-primary" ng-click="p.doImport()">确认导入</button>
</div>