<section class="row view-inner">
    <div class="summary-vm-total">
        <span class="title">学生资金管理</span>
        <a class="pull-right" ui-sref="student.list">返回学生列表</a>
    </div>
    <div class="summary-vm-total" style="margin-top:10px">
        <span class="summary-item"><span class="title">学号:</span><span class="cash" ng-bind="mv.studentNum"></span></span>
        <span class="summary-item"><span class="title">姓名:</span><span class="cash" ng-bind="mv.studentName"></span></span>
        <span class="summary-item"><span class="title">余额:</span><span class="cash" ng-bind="'¥'+ (mv.remindMoney | cashFilter)"></span></span>
        <button type="button" class="btn btn-danger pull-right" ng-click="mv.reduceMoney()">扣钱</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="mv.addMoney()">充值</button>
    </div>
    <div class="console-table-wapper">
        <div class="gridSection">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>变动金额(¥)</th>
                    <th>变动后余额(¥)</th>
                    <th>变动原因</th>
                    <th>经手人</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cash in mv.cashList">
                    <td ng-bind="cash.gmtCreate | date :'yyyy-MM-dd HH:mm:ss'"></td>
                    <td class="cash" ng-class="{'reduce':cash.changeMoney<0,add:cash.changeMoney>=0}" ng-bind="cash.changeMoney | cashFilter:true"></td>
                    <td class="cash" ng-bind="cash.afterMoney | cashFilter"></td>
                    <td ng-bind="cash.reasonMessage"></td>
                    <td ng-bind="cash.adminName"></td>
                    <td class="mome" ng-bind="cash.mome "></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-fixed">
                <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pull-right">
                            <div class="pagination-info">
                                <span ng-bind="'共有'+mv.page.total+'条'"></span>,
                                <span ng-bind="'每页显示:'+mv.page.max +'条'"></span>
                            </div>
                            <uib-pagination max-size="5" total-items="mv.page.total" items-per-page="mv.page.max" ng-change="mv.loadcashFlowList(event)" ng-model="mv.page.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<script type="text/ng-template" id="cashChange.html">
    <div class="modal-header">
        <h4 class="modal-title" ng-bind="'账户' + (p.type==1?'充值':'扣费')"></h4>
    </div>
    <div class="modal-body">
        <section class="form-horizontal">
            <div class="form-group" >
                <div class="summary-vm-total" style="text-align: center;margin:0 20px;">
                    <span class="summary-item"><span class="title">学号</span><span ng-bind="p.studentNum"></span></span>
                    <span class="summary-item"><span class="title">姓名</span><span ng-bind="p.studentName"></span></span>
                    <span class="summary-item"><span class="title">余额(¥)</span><span ng-bind="p.remindMoney | cashFilter" class="cash"></span></span>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="money" class="col-sm-2 control-label" ng-bind="(p.type==1?'充值':'扣费')+'金额'"></label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="p.money" autocomplete="off" type="number" id="money" name="money" check-type="number" placeholder="请输入金额,最多保留两位小数" maxlength="7">
                </div>
            </div>
            <div class="form-group">
                <label for="mome" class="col-sm-2 control-label">操作备注</label>
                <div class="col-sm-10">
                    <input class="form-control" id="mome" ng-model="p.mome" type="text" type="text" placeholder="请输入备注信息" maxlength="20">
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="p.submit()" ng-disabled="lock">确认</button>
        <button type="button" class="btn btn-default" ng-click="p.cancel()">取消</button>
    </div>
</script>